:root {
    --font-sans-serif: "josefin-sans", sans-serif;
    --black: #000;
    --dark-gray: #3E3E40;
    --gold: #b4924a;
    --light-gray: #A6A6A6;
    --white: #fff;
    --dark-blue-gray: #292A30;
    --very-light-gray: #E3E3E3;
}



html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* style guide css*/


body {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    color: var(--dark-gray);
    font-size: 20px;
    line-height: 1.7em;
    margin: 0px;
}


/*main heading*/

h1 {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-size: 30px;
    color: var(--dark-gray);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 7px;
}

/*section headings*/

h2 {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-size: 25px;
    color: var(--dark-gray);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 7px;
}


h3 {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    font-size: 23px;
    color: var(--dark-gray);
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
}

h4 {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    font-size: 16px;
    color: var(--white);
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0px;
    margin-bottom: 2px;
}


.button-link {
    border: 1px solid var(--dark-gray);
    padding: 13px 27px 13px 27px;
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
}

.button-link-color {
    border: 1px solid var(--dark-gray);
    background-color: var(--white);
    padding: 13px 27px 13px 27px;
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
}

.farics-button {
    margin: 20px 0px 80px 0px;
}

a {
    text-decoration: none;
    color: var(--dark-gray);
}

.link {
    text-align: center;
    margin: 10px 0px 30px 0px;
}

.body-copy-modified {
    text-align: center;
    display: inline-block;
    line-height: 50px;
    margin-top: -60px;
    padding: 0px 30px 20px 30px;
}

.body-copy-standard {
    text-align: center;
    display: inline-block;
    line-height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px 30px 10px 30px;
}

.body-copy-color {
    text-align: center;
    display: inline-block;
    height: 350px;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    background-color: var(--very-light-gray);
}


/*navbar*/


.nav {
    padding: 0px;
    margin: 0px
}


.above-nav {
    text-align: center;
    margin: 0px;
    padding: 4px;
    height: 40px;
    background-color: black;
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
}

.above-nav p {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(59, 58, 58, 0.603);
    margin-top: 0px;
    padding: 20px;
    height: 60px;
    text-transform: uppercase;
    color: white;
}

.nav-items {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: white;
    margin-right: 250px;
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;

}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;

}

.nav-items a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 2px 8px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.404);
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: auto;
    margin-top: 40px;
    transition-duration: 2s;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-items li a:hover {
    border-bottom: .25rem solid var(--white);
}

.site-name {
    margin: 0;
    padding-left: 5px;
    color: white;
    letter-spacing: -1px;
    white-space: nowrap;
}

.brochure {
    background-color: var(--white);
    color: black;
    padding: 0px 10px 0px 13px;
    margin-right: 25px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;

}

.icons span {
    margin-left: 10px;
    font-size: 30px;
    vertical-align: middle;

}

.icons a {
    text-decoration: none;
    color: var(--white);

}

/*end nav*/

/*videos*/

.video-wrapper {
    margin-top: -170px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    z-index: -1;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*Products Grid Section*/

.collections-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 5px;
    margin: 10px;
}

.grid-image {
    width: 100%;
}

.grid-item {
    margin: 0px;
    padding: 0px;
}

.text-overlay {
    position: relative;
    bottom: 26.5%;
    background-color: rgba(68, 66, 66, 0.61);
    height: 60px;

}

.text-overlay h2 {
    color: var(--white);
    font-weight: 300;
    padding-top: 15px;
}



/*Made in England Section*/

.image-text-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.text-container {
    display: inline-block;
    text-align: center;
    padding: 0px 15px 0px 15px;
    line-height: 3.5rem;
}

/* full image sections */

.full-image img {
    max-width: 100%;
}

.full-image {
    height: 393px;
}


/*fabrics flex section*/

.fabrics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

}

.fabrics img {
    height: 388px;
    width: auto;
}

.fabrics p {
    text-align: center;
    width: 95%;
    padding: 2px 5px 0px 15px;
}

/*footer section*/

.footer {
    background-color: var(--dark-blue-gray);
    color: var(--white);
}

.footer-p h2 {
    color: var(--white);
}

/* input section */

.footer-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
}

input[type=text] {
    width: 28%;
    padding: 7px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid var(--white);
    background-color: var(--dark-gray);
    color: var(--light-gray);
    font-weight: 300;
    font-size: 16px;
}


.submit-button {
    border: 1px solid var(--dark-gray);
    background-color: var(--gold);
    color: var(--white);
    padding: 10px 27px 10px 27px;
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
}

/*footer links */

.footer-links {
    display: flex;
    gap: 95px;
    margin-left: 75px;
    white-space: nowrap;
}

.quicklinks {
    list-style-type: none;
    padding: 0;
    line-height: 25px;
    width: 125px;
}

.quicklinks a {
    color: var(--white);
    font-size: 14px;
}

.footer-pic {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.footer-pic img {
    max-width: 100%;
}

.footer-pic p {
    margin: 0px;
    font-size: 12px;
}

div.footer-pic {
    width: 200px;
    padding-top: 15px;
}

.footer-p {
    text-align: center;
    padding: 10px 45px 5px 45px;
    line-height: 10px;
}

.footer-p h3 {
    text-align: center;
    color: var(--white);
}



/*social icons in footer*/

.footer-icon {
    width: 25px;
    height: 25px;
}

img.footer-icon {
    margin: 0px 4px 0px 4px;
}

p.copyright {
    letter-spacing: 1px;
}

/* Media Queries */

@media (max-width: 600px) {

    .above-nav {
        text-align: center;
        margin: 0;
        padding: 8px;
        font-weight: 400;
        font-size: 8px;
        letter-spacing: 0px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-items a {
        padding: 10px;
    }

    .brochure {
        border: 1px solid var(--black);
        margin-top: 5%;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        position: absolute;
        top: 20%;
        left: 0;
        display: none;
    }

    .body-copy-modified h1 {
        margin-top: 40%;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .icons a {
        text-decoration: none;
        color: var(--dark-gray);
        font-size: 10px;
        font-weight: 100;
        margin: 10px;
    }


    .image-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    .text-container {
        display: inline-block;
        text-align: center;
        padding: 0px 15px 0px 15px;
        line-height: 3.5rem;
    }

    .fabrics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;

    }

    .fabrics img {
        width: 100%;
        height: auto;
    }

    .fabrics p {
        text-align: center;
        width: 95%;
        padding: 2px 5px 0px 15px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-p {
        text-align: center;
        line-height: 20px;
        font-size: 8px;
        font-weight: 100;
        padding: 5px;

    }

    .footer-p h3 {
        text-align: center;
        color: var(--white);
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        margin-left: 7px;
        white-space: nowrap;
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {

    .above-nav {
        text-align: center;
        margin: 0;
        padding: 8px;
        font-weight: 400;
        font-size: 8px;
        letter-spacing: 0px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-items a {
        padding: 10px;
    }

    .brochure {
        border: 1px solid var(--black);
        margin-top: 5%;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        position: absolute;
        top: 20%;
        left: 0;
        display: none;
    }

    .body-copy-modified h1 {
        margin-top: 40%;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .icons a {
        text-decoration: none;
        color: var(--dark-gray);
        font-size: 10px;
        font-weight: 100;
        margin: 10px;
    }


    .image-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    .text-container {
        display: inline-block;
        text-align: center;
        padding: 0px 15px 0px 15px;
        line-height: 3.5rem;
    }

    .fabrics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;

    }

    .fabrics img {
        width: 100%;
        height: auto;
    }

    .fabrics p {
        text-align: center;
        width: 95%;
        padding: 2px 5px 0px 15px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-p {
        text-align: center;
        line-height: 20px;
        font-size: 8px;
        font-weight: 100;
        padding: 5px;

    }

    .footer-p h3 {
        text-align: center;
        color: var(--white);
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        margin-left: 7px;
        white-space: nowrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {

    .above-nav {
        text-align: center;
        margin: 0;
        padding: 8px;
        font-weight: 400;
        font-size: 8px;
        letter-spacing: 0px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-items a {
        padding: 10px;
    }

    .brochure {
        border: 1px solid var(--black);
        margin-top: 5%;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        position: absolute;
        top: 20%;
        left: 0;
        display: none;
    }

    .body-copy-modified h1 {
        margin-top: 40%;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .icons a {
        text-decoration: none;
        color: var(--very-light-gray);
        font-size: 10px;
        font-weight: 100;
        margin: 10px;
    }


    .image-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    .text-container {
        display: inline-block;
        text-align: center;
        padding: 0px 15px 0px 15px;
        line-height: 3.5rem;
    }

    .fabrics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;

    }

    .fabrics img {
        width: 100%;
        height: auto;
    }

    .fabrics p {
        text-align: center;
        width: 95%;
        padding: 2px 5px 0px 15px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-p {
        text-align: center;
        line-height: 20px;
        font-size: 8px;
        font-weight: 100;
        padding: 5px;

    }

    .footer-p h3 {
        text-align: center;
        color: var(--white);
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        margin-left: 7px;
        white-space: nowrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {

    .above-nav {
        text-align: center;
        margin: 0;
        padding: 8px;
        font-weight: 400;
        font-size: 8px;
        letter-spacing: 0px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-items a {
        padding: 10px;
    }

    .brochure {
        border: 1px solid var(--black);
        margin-top: 5%;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        position: absolute;
        top: 20%;
        left: 0;
        display: none;
    }

    .body-copy-modified h1 {
        margin-top: 40%;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .icons a {
        text-decoration: none;
        color: var(--dark-gray);
        font-size: 10px;
        font-weight: 100;
        margin: 10px;
    }


    .image-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    .text-container {
        display: inline-block;
        text-align: center;
        padding: 0px 15px 0px 15px;
        line-height: 3.5rem;
    }

    .fabrics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;

    }

    .fabrics img {
        width: 100%;
        height: auto;
    }

    .fabrics p {
        text-align: center;
        width: 95%;
        padding: 2px 5px 0px 15px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-p {
        text-align: center;
        line-height: 20px;
        font-size: 8px;
        font-weight: 100;
        padding: 5px;

    }

    .footer-p h3 {
        text-align: center;
        color: var(--white);
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        margin-left: 7px;
        white-space: nowrap;
        flex-wrap: wrap;
    }
}