:root {
    --font-sans-serif: "josefin-sans", sans-serif;
    --black: #000;
    --dark-gray: #3E3E40;
    --gold: #b4924a;
    --light-gray: #A6A6A6;
    --white: #fff;
}



html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



body {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    color: var(--dark-gray);
    font-size: 20px;
    line-height: 1.7em;
}

.component-image {
    border: 1px solid gray;
    overflow-x: auto;
}

.component-code {
    border: 1px solid gray;

}