<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components Fleming &amp; Howland</title>
    <link rel="stylesheet" href="https://use.typekit.net/zzg5iyi.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <h1> Web Components</h1>

    <h2>Type Defaults</h2>
    <article class="component">
        <h3 class="component-name">body</h3>
        <img src="img\home page info section.png" alt="body copy">

        <div class="component-code">
            <p>Code:</p>
            <p>The chesterfield sofa is the world’s best-known iconic British design when it comes to upholstered
                furniture. A highly distinctive visual design, the essential characteristics of chesterfield furniture
                have been preserved since its origin in 1780.</p>
        </div>
    </article>
</body>

</html>