<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Guide - Fleming &amp; Howland</title>
    <link rel="stylesheet" href="https://use.typekit.net/zzg5iyi.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="page-title">
        <h1> Web Design System - Fleming &amp; Howland</h1>
    </div>

    <!--body copy-->

    <article id="body-copy" class="component">
        <h3 class="component-name">Body Copy</h3>
        <div class="component-image">
            <img src="img/body-copy-only.png" alt="body copy">
        </div>

        <div class="component-code">
            <p>Code:</p>
            <p>The chesterfield sofa is the world’s best-known iconic British design when it comes to upholstered
                furniture. A highly distinctive visual design, the essential characteristics of chesterfield furniture
                have been preserved since its origin in 1780.</p>
        </div>
    </article>

    <!--headings-->

    <article id="headings" class="component">
        <h3 class="component-name">Headings, h1, h2, </h3>
        <div class="component-image">
            <img src="img/h1.png" alt="headings h1">
            <img src="img/collections section header.png" alt="h2">
        </div>

        <div class="component-code">
            <p>Code: h1</p>
            <h1>The Iconic Chesterfield Sofa</h1>
            <p>Code: h2</p>
            <h2>Collections</h2>
        </div>
    </article>

    <!--button links-->

    <article id="Button" class="component">
        <h3 class="component-name">Button Links</h3>
        <div class="component-image">
            <img src="img/fabrics section button.png" alt="button link">
        </div>

        <div class="component-code">
            <p>Code:</p>
            <p class="link"><a class="button-link" href="#!">Discover Fabrics</a></p>
        </div>
    </article>

    <!--navbar section-->

    <article id="nav" class="component">
        <h3 class="component-name">top-nav</h3>
        <div class="component-image">
            <img src="img/Header.png" alt="page navbar">
        </div>
        <div class="component-code">
            <p>Code:</p>
            <div id="page-nav">

                <body class="nav-body">
                    <div class="above-nav">
                        <p>All prices include tax and delivery to United States | Learn more</p>
                    </div>
                    <header class="header">
                        <div class="logo">
                            <h1 class="site-name">Fleming &amp; Howland</h1>
                        </div>
                        <nav>
                            <ul class="nav-items">
                                <div class="dropdown">
                                    <li><a href="#!">Collection</a></li>
                                    <div class="dropdown-content">
                                        <h3>Collections</h3>
                                        <a href="#!">Classic</a>
                                        <a href="#!">Heirloom</a>
                                        <a href="#!">Tailored</a>
                                        <a href="#!">Monochrome</a>
                                        <a href="#!">Club</a>
                                        <a href="#!">Bed</a>
                                        
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <li><a href="#!">Build</a></li>
                                    <div class="dropdown-content">                        
                                        <a href="#!">Anatomy</a>
                                        <a href="#!">Color</a>
                                        <a href="#!">Bespoke Services</a>
                                        <a href="#!">Ecosystem</a>                                            
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <li><a href="#!">Brand</a></li>
                                    <div class="dropdown-content">                                        
                                        <a href="#!">History</a>
                                        <a href="#!">Philosophy</a>
                                        <a href="#!">Certification</a>
                                        <a href="#!">Stories</a>
                                        <a href="#!">Knowledge Base</a>
                                        <a href="#!">Contact</a>
                                        
                                    </div>
                                </div>
                                
                            </ul>
                        </nav>
                        <div class="brochure">
                            <a href="#!">Brochure</a>
                        </div>

                        <div class="icons">
                            <a href="#!"><span class="material-symbols-outlined">
                                    help
                                </span></a>
                            <a href="#!"><span class="material-symbols-outlined">
                                    search
                                </span></a>
                            <a href="#!"><span class="material-symbols-outlined">
                                    shopping_cart
                                </span></a>
                            <a href="#!"><span class="material-symbols-outlined">
                                    language_us
                                </span></a>
                        </div>
                    </header>
                </body>
            </div>
        </div>
    </article>

    <!--video section-->

    <article class="component">
        <h3 class="component-name">Main Video</h3>
        <div class="component-image">
            <img src="img/main video.jpg" alt="main video">
        </div>
        <div class="component-code">
            <p>Code:</p>
            <div class="video-wrapper">
                <iframe class="responsive-iframe" loading="lazy"
                    src="https://player.vimeo.com/video/453990121?background=1" width="1360" height="100%"
                    frameborder="0" allowfullscreen="allowfullscreen" data-rocket-lazyload="fitvidscompatible"
                    data-lazy-src="https://player.vimeo.com/video/453990121?background=1"
                    data-ll-status="loaded"></iframe>
            </div>
        </div>
    </article>

    <!--Products Grid Section-->

    <article class="component">
        <h3 class="component-name">Products Grid Section</h3>
        <div class="component-image">
            <img src="img/collections section products.png" alt="products collection">
        </div>
        <div class="component-code">
            <p>Code:</p>
            <div class="collections-grid">
                <div class="grid-item">
                    <a target="_blank" href="https://fleminghowland.com/classic/">
                        <img class="grid-image" src="./img/Classic-grid.jpg" alt="Chesterfield Couch"></a>
                    <div class="text-overlay">
                        <h2 class="grid-item-overlay">Classic</h2>
                    </div>
                </div>
                <div class="grid-item">
                    <a target="_blank" href="https://fleminghowland.com/heirloom/">
                        <img class="grid-image" src="./img/Heirloom-grid.jpg" alt="Chesterfield Couch"></a>
                    <div class="text-overlay">
                        <h2>Heirloom</h2>
                    </div>
                </div>
                <div class="grid-item">
                    <a target="_blank" href="https://fleminghowland.com/tailored/">
                        <img class="grid-image" src="./img/Tailored-Grid.jpg" alt="Chesterfield Couch"></a>
                    <div class="text-overlay">
                        <h2>Tailored</h2>
                    </div>
                </div>
                <div class="grid-item">
                    <a target="_blank" href="https://fleminghowland.com/monochrome/">
                        <img class="grid-image" src="./img/monochrome-grid.jpg" alt="Chesterfield Couch"></a>
                    <div class="text-overlay">
                        <h2>Monochrome</h2>
                    </div>
                </div>
                <div class="grid-item">
                    <a target="_blank" href="https://fleminghowland.com/club/">
                        <img class="grid-image" src="./img/Club-grid.jpg" alt="Chesterfield Couch"></a>
                    <div class="text-overlay">
                        <h2>Club</h2>
                    </div>
                </div>
                <div class="grid-item">
                    <a target="_blank" href="https://fleminghowland.com/all-collections/">
                        <img class="grid-image" src="./img/all-collection.jpg" alt="Chesterfield Couch"></a>
                    <div class="text-overlay">
                        <h2>All Collections</h2>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <!--Made in England Section-->

    <article class="component">
        <h3 class="component-name">image &amp; text section</h3>
        <div class="component-image">
            <img src="./img/made in england.jpg" alt="Chesterfield badge">
        </div>

        <div class="component-code">
            <p>Code:</p>
            <div class="image-text-container">
                <div class="text-container">
                    <h1>Made in England</h1>
                    <p>“Every great design begins with an even better story.”</p>

                    <p>The origins of Fleming &amp; Howland began in 1780 when the shoemaker and cordwainer Solomon
                        Howland
                        turned his hand to the craft of chair making. The Howlands remained self-employed craftsmen
                        until
                        3rd generation George Howland started a small workshop ’employing 2 men’ (1881 census).</p>
                    <p class="link"><a class="button-link" href="#!">The Upholder</a></p>
                </div>
                <div class="image-container">
                    <img src="./img/600x400_badge.jpg" alt="Chesterfield badge">
                </div>
            </div>

        </div>
    </article>

    <!--full image across section-->

    <article class="component">
        <h3 class="component-name">full image</h3>
        <div class="component-image">
            <img src="./img/full image black.jpg" alt="black couch">
        </div>

        <div class="component-code">
            <p>Code:</p>
            <div class="full-image">
                <img src="./img/Cromwell-3-seat-OE-Black-Pleated-Arm-1.jpg" alt="black leather couch">
            </div>
        </div>
    </article>

    <!--Fabric Flex Section-->

    <article class="component">
        <h3 class="component-name">Fabric Flex Section</h3>
        <div class="component-image">
            <img src="./img/fabric section images.png" alt="fabrics collection">
        </div>
        <div class="component-code">
            <p>Code:</p>
            <div class="fabrics">
                <div>
                    <img src="./img/fabric-left-1.jpg" alt="Chesterfield Couch">
                    <p class="fabrics-img-text">Woven from natural yarns with a 50% linen, 50% cotton composition.
                        Durable, strong, smooth and cool to the touch.</p>
                </div>
                <div>
                    <img src="./img/fabric-middle-1.jpg" alt="Chesterfield Couch">
                    <p class="fabrics-img-text">Cotton velvets are the most elegant and luxurious of fabrics.</p>
                </div>
                <div>
                    <img src="./img/fabric-right-1.jpg" alt="Chesterfield Couch">
                    <p class="fabrics-img-text">Beautifully soft, 100% wool is naturally soil, stain and flame
                        resistant.</p>
                </div>
            </div>
        </div>

    </article>

    <!--footer-->

    <article class="component">
        <h3 class="component-name">footer</h3>
        <div class="component-image">
            <img src="./img/footer.png" alt="website footer">
        </div>

        <div class="component-code">
            <p>Code:</p>
            <div class="footer">
                <div class="footer-p">
                    <h3>Request brochure</h3>

                    <p>The real beauty of making furniture by hand is the ability to customise.</p>

                    <p>Designing with Fleming &amp; Howland is a journey, with your input invited at every step. It
                        starts
                        here...</p>
                </div>

                <!--footer input form-->

                <div class="footer-input">
                    <input type="text" placeholder="Name"> <input type="text" placeholder="Email">
                    <p class="link"><a class="submit-button" href="#!">submit</a></p>
                </div>
                <div class="footer-links">
                    <div>
                        <ul class="quicklinks">
                            <li>
                                <h4>Quick Links</h4>
                            </li>
                            <li><a href="#!">Knowledge Base</a></li>
                            <li><a href="#!">Guarantees</a></li>
                            <li><a href="#!">Certification</a></li>
                            <li><a href="#!">Delivery</a></li>
                            <li><a href="#!">How to Order</a></li>
                            <li><a href="#!">T&amp;Cs</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="quicklinks">
                            <li>
                                <h4>Info Links</h4>
                            </li>
                            <li><a href="#!">All Collections</a></li>
                            <li><a href="#!">Request Swatches</a></li>
                            <li><a href="#!">Showrooms</a></li>
                            <li><a href="#!">Professionals</a></li>
                            <li><a href="#!">Outlet</a></li>
                            <li><a href="#!">Velvet</a></li>
                            <li><a href="#!">Leather</a></li>
                            <li><a href="#!">Fabric</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="quicklinks">
                            <li>
                                <h4>Brand Links</h4>
                            </li>
                            <li><a href="#!">History</a></li>
                            <li><a href="#!">Philosophy</a></li>
                            <li><a href="#!">Anatomy</a></li>
                            <li><a href="#!">Stories</a></li>
                            <li><a href="#!">Bespoke Services</a></li>
                            <li><a href="#!">Ecosystem</a></li>
                            <li><a href="#!">Contact</a></li>

                        </ul>
                    </div>
                    <div>
                        <ul class="quicklinks">
                            <li>
                                <h4>Categories</h4>
                            </li>
                            <li><a href="#!">Sofas</a></li>
                            <li><a href="#!">Corner Sofas</a></li>
                            <li><a href="#!">Sofa Beds</a></li>
                            <li><a href="#!">Chairs</a></li>
                            <li><a href="#!">Office Chairs</a></li>
                            <li><a href="#!">Wingback Chairs</a></li>
                            <li><a href="#!">Bar Stools</a></li>
                            <li><a href="#!">Footstools</a></li>
                            <li><a href="#!">Dining Chairs</a></li>
                            <li><a href="#!">Beds</a></li>
                        </ul>
                    </div>
                    <div class="footer-pic">
                        <img src="./img/chesterfields-badge-white-3.png" alt="logo">

                        <div class="footer-icons">
                            <img class="footer-icon" src="./img/pinterest.svg" alt="pintrest icon">
                            <a target="_blank" href="https://www.pinterest.co.ok/fleminghowland/" title="Pintrest"></a>

                            <img class="footer-icon" src="./img/instagram.svg" alt="instagram icon">
                            <a target="_blank" href="https://www.youtube.com/@fleminghowland/" title="Instagram"></a>

                            <img class="footer-icon" src="./img/youtube-icon-1.svg" alt="youtube icon">
                            <a target="_blank" href="https://www.youtube.com/@fleminghowland/" title="YouTube"></a>
                        </div>
                        <p class="copyright">&copy; 2023 Fleming &amp; Howland</p>
                    </div>
                </div>
            </div>
        </div>
    </article>


</body>

</html>